<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AllCommands</title>
</head>
<body>
<h1>All Commands</h1>
<a href="/">Back</a>

<table>
    <tr>
        <th>Link</th>
        <th>Command</th>
        <th>Class</th>
    </tr>

</table>
<div class="power">
    <h2>Power</h2>
    <a href="/power/on">Power On</a>
    <a href="/power/off">Power Off</a>
    <a href="/power/status">Power Status</a><hr>
</div>
<div class="volume">
    <h2>Volume</h2>
    <a href="/vol/up">Volume Up</a>
    <a href="/vol/down">Volume Down</a>
    <hr>
</div>
<div class="mute">
    <h2>Mute</h2>
    <a href="/mute/on">Mute On</a>
    <a href="/mute/off">Mute Off</a><hr>

</div>
<div class="sources">
    <h2>Sources</h2>
    <a class="btn btn-outline-primary" href="/source/PHONO">Phono</a>
    <a class="btn btn-outline-primary" href="/source/CD">CD</a>
    <a class="btn btn-outline-primary" href="/source/TUNER">Tuner</a>
    <a class="btn btn-outline-primary" href="/source/DVD">DVD</a>
    <a class="btn btn-outline-primary" href="/source/TV+CBL">TV/CBL</a>
    <a class="btn btn-outline-primary" href="/source/VCR">VCR</a>
    <a class="btn btn-outline-primary" href="/source/DVR">DVR</a>
    <a class="btn btn-outline-primary" href="/source/VAUX">V.AUX</a>
    <a class="btn btn-outline-primary" href="/source/XM">XM</a>
    <a class="btn btn-outline-primary" href="/source/IPod">Ipod</a>
    <a class="btn btn-outline-primary" href="/source/AUX">AUX</a>
    <hr>
</div>
<div id="rec">
    <h2>Record Out Select</h2>
    <a class="btn btn-info" href="/record/PHONO">PHONO</a>
    <a class="btn btn-info" href="/record/CD">CD</a>
    <a class="btn btn-info" href="/record/TUNER">Tuner</a>
    <a class="btn btn-info" href="/record/DVD">DVD</a>
    <a class="btn btn-info" href="/record/TV+CBL">TV/CBL</a>
    <a class="btn btn-info" href="/record/VCR">VCR</a>
    <a class="btn btn-info" href="/record/DVR">DVR</a>
    <a class="btn btn-info" href="/record/VAUX">V.AUX</a>
    <a class="btn btn-info" href="/record/XM">XM</a>
    <a class="btn btn-info" href="/record/IPod">IPod</a>
    <a class="btn btn-info" href="/record/AUX">AUX</a>
    <a class="btn btn-danger" href="/record/CANCEL">Source Mode Cancel</a><hr>
</div>
<div id="sd">
    <h2>SD</h2>
    <a href="/sd/AUTO">Auto</a>
    <a href="/sd/HDMI">HDMI</a>
    <a href="/sd/DIGITAL">Digital</a>
    <a href="/sd/ANALOG">Analog</a>
    <hr>
</div>
</body>
</html>

