<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Denon Controller</title>
</head>
<body>
    <h1>Denon Controller</h1>
    <table>
        <tr>
            <td><a href="/pw/on">Power On</a></td>
            <td><a href="/pw/off">Power Off</a></td>
        </tr>
        <tr>
            <td><a href="/vol/up">Volume Up</a></td>
            <td><a href="/vol/down">Volume Down</a></td>
        </tr>
        <tr>
            <td><a href="/mute/on">Mute On</a></td>
            <td><a href="/mute/off">Mute Off</a></td>
            <td><a href="/mute/status">Mute Status</a></td>
        </tr>
    </table>
</body>
</html>
