<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Denon Controller</title>
</head>
<body>
    <h1>Denon Controller</h1>
    <table>
        <thead>Controls</thead>
        <tr>
            <th>Power</th>
            <td><a href="/power/on">Power On</a></td>
            <td><a href="/power/off">Power Off</a></td>
        </tr>
        <tr>
            <th>Volume</th>
            <td><a href="/vol/up">Volume Up</a></td>
            <td><a href="/vol/down">Volume Down</a></td>
        </tr>
        <tr>
            <th>Mute</th>
            <td><a href="/mute/on">Mute On</a></td>
            <td><a href="/mute/off">Mute Off</a></td>
            <td><a href="/mute/status">Mute Status</a></td>
        </tr>
    </table>

    <div id="sources">
        <h2>Sources</h2>
        <a href="/source/PHONO">Phono</a><br>
        <a href="/source/CD">CD</a><br>
        <a href="/source/TUNER">Tuner</a><br>
        <a href="/source/DVD">DVD</a><br>
        <a href="/source/TV+CBL">TV/CBL</a><br>
        <a href="/source/VCR">VCR</a><br>
        <a href="/source/DVR">DVR</a><br>
        <a href="/source/VAUX">V.AUX</a><br>
        <a href="/source/XM">XM</a><br>
        <a href="/source/IPod">Ipod</a><br>
        <a href="/source/AUX">AUX</a><br>
    </div>
</body>
</html>
